<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DBEmployees" connectionString="Data Source=SSManagement32;DatabaseName=DBEmployees;UID=dba;PWD=sql" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>